.grid{
  width: 200px;
  border: 1px solid #B6B4C6;

  &__column{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  &__cell-container{
    display: flex;
  }

  &__row:nth-child(odd){
    background-color: #1E242F;
  }

  &__row{
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    border-radius: 7px;
    background-color: #242B35;
    margin: 5px 20px;

    &_selected{
      display: flex;
      flex-direction: row;
      height: 80px;
      justify-content: start;
      border-radius: 7px;
      margin: 5px 20px;
      background:  rgba(143, 127, 255, 0.5);
      color: #FFFFFF;
    }
  }
}

.icon{
  margin-left: 10px;
  cursor: pointer;
}

.grid-item{

  &__cell{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 65px;
    height: 100%;
    width: 160px;
    position: relative;

    &_hide-content{
      font-size: 12px;
      color: #8F7FFF;
      cursor: pointer;
    }
  }

  &__cell-edit{
    background:  #B6B4C6;
    border: none;
    outline: none;
    color: #1E242F;
    font-size: 16px;
    width: 100%;
    height: 90%;
  }

  &__wrapper-cell-edit{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -12px;
    height: 100%;
  }

  &__cell:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
  }
}

input[type="checkbox"] {
  appearance: none;
  background-color: #242B35;
  font: inherit;
  color: #B6B4C6;
  min-width: 16px;
  height: 16px;
  border: 1.5px solid #B6B4C6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

input[type="checkbox"]:checked {
  content: '';
  background-image: url(../../assets/svgs/confirmation.svg);
  background-repeat: no-repeat;
  padding-right: 16px;
  min-width: 16px;
  height: 16px;
  border: none;
}

#tooltip {
  position: absolute;
  left: 0;
  top: 78px;
  font-size: 12px;
  z-index: 1;
  padding-left: 20px;
}

.tooltip-arrow::after {
  left: 10%;
  position: absolute;
  content:"";
  top: -7px;
  margin-left: 20px;
  border-bottom: 8px solid #353E56;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.tooltip-arrow:after,
.tooltip-arrow:before {
  left: 10%;
  position: absolute;
  content:"";
  top: -7px;
  margin-left: 20px;
  border-bottom: 8px solid #353E56;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.tooltip-arrow:after {
  top: -7px;
  border-color: transparent transparent #242B35 transparent;
  border-width: 8px;
}

.tooltip-arrow:before {
  top: -8px;
  border-color: transparent transparent #353E56 transparent;
  border-width: 8px;
}

.tooltip-label{
  color: #B6B4C6;
  border: 1px solid #353E56;
  border-radius: 4px;
  padding: 3px 12px;

  &__item {
    display: flex;
    align-items: start;
  }

  &__icon{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 6px;
  }
}

.tooltip-label:nth-child(even){
  background-color: #242B35;
}


.tooltip-label:nth-child(odd){
  background-color: #1E242F;
}

[contentEditable]:focus{
  outline: none;
}
