.grid-row{
  display: flex;
  flex-direction: row;
  height: 80px;
  border-radius: 7px;
  margin: 5px 20px;

  &_selected{
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: start;
    border-radius: 7px;
    margin: 5px 20px;
    color: #FFFFFF;
  }

  &__cell{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 65px;
    height: 100%;
    width: 140px;
    margin-left: 25px;
    position: relative;

    &_hide{
      font-size: 12px;
      color: #8F7FFF;
      cursor: pointer;
    }
  }

  &__column{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  &__cell-container{
    display: flex;
  }

  &__textarea{
    //background:  #BFBAFA;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #fff;
    //color: var(--color-primary-even);
    font-size: 16px;
    width: 80%;
    height: 100%;
    padding: 0 5px;
    overflow: scroll;
  }

.tooltip {
  position: absolute;
  left: 0;
  top: 78px;
  z-index: 1;
  width: 165px;
}

.tooltip-arrow::after {
  left: 10%;
  position: absolute;
  content:"";
  top: -7px;
  margin-left: 20px;
  border-bottom: 8px solid #353E56;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.tooltip-arrow:after,
.tooltip-arrow:before {
  left: 10%;
  position: absolute;
  content:"";
  top: -7px;
  margin-left: 20px;
  border-bottom: 8px solid var(--color-primary-even);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.tooltip-arrow:after {
  top: -7px;
  border-color: transparent transparent var(--color-primary-even) transparent;
  border-width: 8px;
}

.tooltip-arrow:before {
  top: -8px;
  border-color: transparent transparent var(--color-primary-even) transparent;
  border-width: 8px;
}

.tooltip-label{
  color: #B6B4C6;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  padding: 3px 12px;

  &__item {
    display: flex;
    align-items: start;
    margin: 4px 0;
  }

  &__icon{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 6px;
  }
}

.tooltip-label:nth-child(even){
  background-color: var(--color-primary-even);
}

.tooltip-label:nth-child(odd){
  background-color:  var(--color-primary-odd);
}

textarea{
  outline: none;
  width: 100%;
  border-radius: 2px;
  border: 2px solid rgba(182, 180, 198, 1);
}

.checkbox-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 65px;
  margin-left: 15px;
}

.checkbox-wrapper input{
  cursor: pointer;
}}

div[contenteditable] {
  outline: none;
}
