header{
  height: 68px;
  display: flex;
  align-items: center;
  border: 1px solid #3D444E;
}

header img{
  margin-left: 20px;
}

.img-wrapper{

}

.mode-icon{
  height: 40px;
  cursor: pointer;
  margin-left: 20px;
}
