.grid-header{

  &__column{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  &__row{
    display: flex;
    flex-direction: column;
  }

  &__cell{
    display: flex;
    align-items: center;
    min-width: 55px;
    height: 100%;
    width: 140px;
    position: relative;
    word-break: break-word;
    text-align: end;
    margin-left: 15px;
    padding-left: 10px;
  }

  &__cell:not(:first-child){
    cursor: pointer;
  }

  &__cell:first-child{
    display: flex;
    align-items: center;
    width: 25px;
  }

  &__cell:not(:first-child):hover{
    background: rgba(143, 127, 255, 0.15);
    font-weight: 600;
    color: #8F7FFF;
  }

  &__cell:not(:first-child):hover{
    background: rgba(143, 127, 255, 0.15);
    font-weight: 600;
  }

  &__cell:not(:first-child):hover > img{
    filter: invert(48%) sepia(30%) saturate(1417%) hue-rotate(208deg) brightness(110%) contrast(101%);
  }

  &__cell:last-child:hover{
    background: rgba(143, 127, 255, 0.15);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    font-weight: 600;
    color: #8F7FFF;
  }

  &__cell:not(:first-child):hover:after{
    content: '';
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background: linear-gradient(360deg, #BFBAFA 15.3%, #624BFF 87.74%, #8F7FFF 87.74%, #7F76F7 87.74%);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    margin-left: -10px;
  }
}

.header{
  display: flex;
  align-items: center;
  border-radius: 7px;
  margin: 5px 20px;
  font-weight: 600;
  color: #FFFFFF;
  height: 70px;
}

.grid-rows-wrapper{
  min-height: 300px;
}

.confirmation{
  width: 80px;
  height: 17px;
}

.img-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  word-break: break-word;
  text-align: end;
  margin-left: 15px;
}

.grid-wrapper{
  padding-top: 40px
}
